*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px / 16px = 62.5% , therefore 1rem = 10px
}

body {
  font-family: $font-primary;
  font-weight: 400;
  color: $text-color;
  line-height: 1.5;
  font-size: 1.6rem;
  overflow-x: hidden;
  background-color: $silk-white;
}

%headings {
  font-family: $font-headings;
  color: $dark-blue;
}

h1,
h2 {
  @extend %headings;
  font-weight: 700;
}

h3,
h4 {
  @extend %headings;
  font-weight: 600;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  object-fit: cover;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-weight: inherit;
  outline: 0;
  border: 0;
  color: inherit;
}