@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-display: block;
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff");
}

@font-face {
  font-family: "Avenir";
  font-weight: 500;
  font-display: block;
  src: url("../assets/fonts/AvenirNextLTPro-Medium.woff");
}

@font-face {
  font-family: "Avenir";
  font-weight: 600;
  font-display: block;
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff");
}

@font-face {
  font-family: "Avenir";
  font-weight: 700;
  font-display: block;
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff");
}
